{% extends "layout.html" %}
{% block content %}
    <form method="POST">
        <div class="row">
                <div class="column">
                    <button name = "1" value = "1" type="submit"><img src = {{poza1}} ></button>
 
                </div>
                <div class="column">
                    <button name = "2" value = "2" type="submit"><img src = {{poza2}} ></button>
                </div>
        </div>
    </form>
    <div class = "center">
    <h1>Top 10 memeuri</h1>
    <ol>
        {% for i in poze_top_id %}
            <h3>{{ contor }}</h3>
            <img src = {{i}} alt="meme" style = "width: 50%; height: auto;  border: 10px solid black;">
            
        {% endfor %}
    </ol>


    </div>
   
{% endblock content %}




